.btn {
	padding: 1.2rem 1.8rem 1.3rem;
	text-align: center;
	height: fit-content;
	width: fit-content;
	border-radius: 10rem;
	font-size: $fontSize-button;
	font-weight: 400;
}

.btn--primary {
	border: solid .2rem white;
}

.btn--secondary {
	background-color: #6015FF;
}