.btn {
	@extend %text-center;
	height: fit-content;
	width: fit-content;
	@extend %b-radiusXL;
	font-size: $fontSize-button;
	font-weight: 400;
	transition: background-color ease-in-out 300ms;

	&--primary {
		border: solid .2rem $clr-light;
		padding: .8rem 1.3rem .9rem;
		margin-left: auto;
	}

	&--secondary {
		padding: 1.6rem 2.4rem 1.7rem;
		background-color: $clr-primary;
		font-size: $fontSize-btnLarge;
	}
}

@media (hover: hover) {
	.btn--secondary:hover {
		background-color: $clr-secondary;
	}

	.btn--primary:hover {
		background-color: $clr-primary;
		border-color: $clr-primary;
	}
}