.btn {
	text-align: center;
	height: fit-content;
	width: fit-content;
	border-radius: 10rem;
	font-size: $fontSize-button;
	font-weight: 400;
	transition: background-color ease-in-out 300ms;
}

.btn--primary {
	border: solid .2rem white;
	padding: .8rem 1.3rem .9rem;
	margin-left: auto;

	&:hover {
		background-color: $clr-primary;
		border-color: $clr-primary;
	}
}

.btn--secondary {
	padding: 1.6rem 2.4rem 1.7rem;
	background-color: $clr-primary;
	font-size: 2.4rem;

	&:hover {
		background-color: #7542e4;
	}
}