.about__grid {
	@extend %grid-2col;
	gap: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 2.1307)), 5rem);
	align-items: stretch;

	img {
		height: 100%;
		@extend %b-radiusM;
		object-fit: cover;
		object-position: center top;
	}
}

.about__text__wrap {
	@extend %flex-standart;
	gap: 2rem;
}

.about__text__item {
	@extend %flex-standart;
	gap: 1rem;

	b, p {
		font-size: 1.8rem;
	}

	p {
		color: $clr-baseNormal;
		line-height: 140%;
		font-weight: 300;
	}
}

@include mobile-landscape {
	.about__grid {
		grid-template-columns: 1fr;

		img {
			height: 40rem;
			width: 100%;
		}
	}
}

@include xxxs {
	.about__grid img {
		margin-top: -2rem;
		height: 30rem;
	}
}