.contacts {
	@extend %section-line;

	a {
		font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.32rem) * 0.8523)), 3.6rem);
		font-weight: 500;
		color: $clr-baseNormal;
		transition: color ease-in-out 300ms;

		&:last-of-type {
			margin-top: 2rem;
			border: solid .2rem $clr-baseNormal;
			padding: 2rem 3rem 2.1rem;
			border-radius: 10rem;
			font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.32rem) * 0.4261)), 2.4rem);
			font-weight: 400;
			&:hover {
				border: solid .2rem $clr-light;
			}
		}

		&:hover {
			color: $clr-light;
		}
	}
}

@include xxxs {
	.contacts h2 {
		margin-bottom: 2rem;
	}
}