.contacts {
	@extend %section-line;

	a {
		font-size: 3.6rem;
		font-weight: 500;
		color: $clr-baseNormal;
		transition: color ease-in-out 300ms;

		&:last-of-type {
			margin-top: 1rem;
		}

		&:hover {
			color: $clr-light;
		}
	}
}