footer {
	@extend %section-line;
}

.container__footer {
	@include layout-grid(1fr 1fr, 0, center);
	@extend %width-100;
}

.copyright {
	@include layout-flex(row, 3rem, center);
	
	a {
		width: 8rem;
	}

	span {
		font-size: 1.8rem;
	}
}

// .networks {
// 	@include layout-flex(row, 1rem, center);
// 	justify-self: end;
	
// 	a:last-of-type {
// 		margin-left: 4rem;
// 		font-size: 1.8rem;
// 	}
// }

.networks {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 2rem;
}

.footer__social {
	display: flex;
	gap: .5rem;
}

@include s {
	.container__footer {
		grid-template-columns: 1fr;
		align-items: center;
		gap: 4rem;
	}

	.copyright {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.networks {
		flex-direction: column;
		justify-content: center;
	}
}