footer {
	@extend %section-line;
}

.container__footer {
	@include layout-grid(1fr auto 1fr, 0, center);
	@extend %width-100;
}

.copyright {
	@include layout-flex(row, 3rem, center);
	
	a {
		width: 8rem;
	}

	span {
		font-size: 1.8rem;
	}
}

.networks {
	@include layout-flex(row, 1rem, center);
	justify-self: end;
	
	a:last-of-type {
		margin-left: 4rem;
		font-size: 1.8rem;
	}
}