header {
	width: 100%;
	position: absolute;
	z-index: 30;
	@extend %animation-appearance;
}

.header__container {
	@include layout-grid(1fr max-content 1fr);
	justify-content: space-between;
	padding: 2rem clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 2.8409)), 6rem);
}

nav {
	@include layout-flex(row, clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.4205)), 4rem));
	justify-content: center;
	margin-top: 1.3rem;
	font-size: $fontSize-XS;
}

.logo {
	width: clamp(6rem, calc(6rem + ((1vw - 0.32rem) * 2.8409)), 10rem);
}

.navlink {
	height: fit-content;
	transition: color 300ms ease-in-out;

	&:hover {
		color: $clr-primary;
	}
}

@include tablet-l {
	.header__container {
		grid-template-columns: 1fr max-content;
	}

	nav {
		display: none;
	}
}