header {
	width: 100%;
	position: absolute;
	z-index: 30;
}

.header__container {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	justify-content: space-between;
	padding: 2rem clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 2.8409)), 6rem);
}

nav {
	display: flex;
	gap: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.4205)), 4rem);
	justify-content: center;
	margin-top: 1.7rem;
	font-size: 1.8rem;
}

.logo {
	width: 10rem;
}