.hero {
	@extend %full-screen;
	@extend %section-lineNone;
	position: relative;
}

video {
	object-fit: cover;
	@extend %hundred-percent;
}

.hero__content {
	@extend %flex-center;
	@extend %hundred-percent;
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	background: $clr-backgroundTransparent;
	gap: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.7102)), 2rem);

	p {
		font-size: $fontSize-XL;
		margin-bottom: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 0.7102)), 3rem);
	}

	.arrow-down {
		position: absolute;
		bottom: 6rem;

		&:hover img {
			transform: scale(1.1);
		}
	}
}

@include tablet-s {
	.hero {
		height: 60vh;
		min-height: 40rem;
	}

	.arrow-down {
		display: none;
	}
}

@include mobile-landscape {
	.hero {
		height: 50vh;
		min-height: 40rem;
	}
}