.hero {
	height: 100vh;
	min-height: 60rem;
	position: relative;
}

video {
	object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__content {
	@extend %flex-center;
	z-index: 20;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.3);
	gap: 2rem;

	p {
		font-size: $fontSize-XL;
		margin-bottom: 3rem;
	}

	.arrow-down {
		position: absolute;
		bottom: 6rem;

		&:hover img {
			transform: scale(1.1);
		}
	}
}

.progress__bottom {
	display: grid;
	width: 100%;
	grid-template-columns: max-content max-content max-content;
	margin-top: 8rem;
	justify-content: space-between;
}

.progress__bottom__item {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	gap: 1rem;
}