.mission {
	b {
		font-size: 2.8rem;
		margin-bottom: 3rem;
	}

	p {
		@extend %text-center;
		white-space: 50px;
		font-size: 2.4rem;
		width: 65ch;
		line-height: 130%;
		font-weight: 300;
		@extend %text-gradientVertical;
	}
}