.plus {
	&__grid {
		width: 100%;
		@extend %grid-3col;
		grid-template-rows: 1fr 1fr;
		gap: 1rem;
	}

	&__card {
		@extend %flex-standart;
		justify-content: space-between;
		background-color: $clr-baseUltraDark;
		@extend %b-radiusM;
		padding: 2rem;

		span {
			font-size: 1.8rem;
			font-weight: 800;
			@extend %text-gradientHorizont;
			width: fit-content;
			padding: .8rem;
			border: solid .2rem grey;
			@extend %b-radiusXL;
		}

		div {
			margin-top: 4rem;
			@include layout-grid(1fr max-content, 1rem, end);
		}
	}
}

