.plus {
	&__grid {
		@extend %width-100;
		@extend %grid-3col;
		grid-template-rows: 1fr 1fr;
		gap: 1rem;
		perspective: 1000px;
	}

	&__card {
		position: relative;
		transform-style: preserve-3d;
		min-height: 27rem;

		&--front {
			padding: 2rem;
			@extend %b-radiusM;
			background-color: $clr-baseUltraDark;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			backface-visibility: hidden;
			transition: transform .5s ease-in-out;

			span {
				font-size: 1.8rem;
				font-weight: 800;
				@extend %text-gradientHorizont;
				width: fit-content;
				padding: .8rem;
				border: solid .2rem grey;
				@extend %b-radiusXL;
			}

			div {
				margin-top: 4rem;
				@include layout-grid(1fr max-content, 1rem, end);
			}
		}

		&--back {
			color: grey;
			font-size: 1.6rem;
			display: flex;
			height: 100%;
			padding: 2rem;
			@extend %b-radiusM;
			background-color: $clr-baseUltraDark;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			backface-visibility: hidden;
			transform: rotateY(180deg);
			transition: transform .5s ease-in-out;
		}

		&:hover &--front {
			transform: rotateY(-180deg);
		}

		&:hover &--back {
			transform: rotateY(0);
		}
	}
}




@include tablet-s {
	.plus__grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);
	}

	.plus__card h3 {
		font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.3226)), 1.8rem);
	}
}

@include mobile-portrait {
	.plus__grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
	}
}

@include xxxs {
	.plus h2 {
		margin-bottom: 2rem;
	}
}