.plus {
	&__grid {
		@extend %width-100;
		@extend %grid-3col;
		grid-template-rows: 1fr 1fr;
		gap: 1rem;
	}

	&__card {
		@extend %flex-standart;
		justify-content: space-between;
		background-color: $clr-baseUltraDark;
		@extend %b-radiusM;
		padding: 2rem;

		span {
			font-size: 1.8rem;
			font-weight: 800;
			@extend %text-gradientHorizont;
			width: fit-content;
			padding: .8rem;
			border: solid .2rem grey;
			@extend %b-radiusXL;
		}

		div {
			margin-top: 4rem;
			@include layout-grid(1fr max-content, 1rem, end);
		}
	}
}

@include tablet-s {
	.plus__grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);
	}

	.plus__card h3 {
		font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.3226)), 1.8rem);
	}
}

@include mobile-portrait {
	.plus__grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
	}
}

@include xxxs {
	.plus h2 {
		margin-bottom: 2rem;
	}
}