.price {
	&__grid {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 2rem;
		width: 100%;
		align-items: start;
	}

	&__item:first-of-type {
		@extend %grid-2col;
		align-items: center;

		div:first-of-type {
			display: flex;
			align-items: center;

			span {
				font-size: 4.8rem;
				font-weight: 700;
				@extend %text-gradientHorizont;
				margin-left: -8rem;
			}
		}
		div:last-of-type {
			margin-top: 1rem;
			position: relative;
			span {
				position: absolute;
				top: 3rem;
				font-size: 2.4rem;
			}
		}
		a {
			margin-top: 3rem;
			text-decoration: underline;
			text-underline-offset: 1rem;
			color: $clr-secondary;
			font-size: 1.8rem;
		}
	}

	&__item:nth-child(2) {
		display: flex;
		align-items: start;

		div:first-of-type {
			div {
				display: flex;
				align-items: center;

				span {
					font-size: 4.8rem;
					font-weight: 700;
					@extend %text-gradientHorizont;
					margin-left: -8rem;
				}
			}

			p {
				font-size: 2rem;
				line-height: 170%;
				margin-left: 15rem;
				color: $clr-baseNormal;
			}
		}

		.price__var {

			position: relative;
			display: flex;
			margin-top: 7rem;
			margin-left: 2rem;
			span {
				position: absolute;
				top: 3rem;
				font-size: 2.4rem;
			}
		}
	}
}