.price {
	&__grid {
		@include layout-grid(max-content 1fr, 2rem, start);
		width: 100%;
	}

	&__item:first-of-type {
		@extend %grid-2col;
		align-items: center;

		div:first-of-type {
			@include layout-flex(row, 0, center);

			span {
				font-size: 4.8rem;
				font-weight: 700;
				@extend %text-gradientHorizont;
				margin-left: -8rem;
			}
		}
		div:last-of-type {
			margin-top: 1rem;
			position: relative;
			span {
				position: absolute;
				top: 3rem;
				font-size: 2.4rem;
			}
		}
	}

	&__item:nth-child(2) {
		@include layout-flex(row, 0, start);

		div:first-of-type {
			div {
				@include layout-flex(row, 0, center);

				span {
					font-size: 4.8rem;
					font-weight: 700;
					@extend %text-gradientHorizont;
					margin-left: -8rem;
				}
			}

			p {
				font-size: 2rem;
				line-height: 170%;
				margin-left: 15rem;
				color: $clr-baseNormal;
			}
		}

		.price__var {
			@extend %d-flex;
			position: relative;
			margin-top: 7rem;
			margin-left: 2rem;
			span {
				position: absolute;
				top: 3rem;
				font-size: 2.4rem;
			}
		}
	}
}