.progress {
	@extend %section-lineNone;

	&__grid {
		@include layout-grid(1fr max-content 1fr, 8rem);
		width: 100%;
	
		.progress__col {
			@extend %flex-standart;
			gap: 1.5rem;
	
			&--first {
				align-items: end;
			}
	
			&--second {
				align-items: start;
			}
		}
	
		.year {
			font-size: 4.8rem;
			font-weight: 600;
			line-height: 100%;
			@extend %text-gradientHorizont;
			margin-top: -.7rem;
			width: fit-content;
		}
	
		.desc {
			color: $clr-baseNormal;
			font-size: 1.8rem;
			font-weight: 400;

			&--end {
				text-align: end
			}
		}
	
		.progress__images {
			@extend %hundred-percent;
			@include layout-grid(1fr 1fr 1fr, 1rem);
	
			&__inner {
				max-height: 22rem;
	
				img {
					@extend %b-radiusM;
					object-fit: cover;
					object-position: center;
					@extend %hundred-percent;
				}
			}
		}
		
		.timeline__wrap {
			@extend %flex-standart;
			align-items: center;
		}
	
		.timeline {
			background-color: $clr-baseUltraDark;
			width: .2rem;
			height: 87rem;
			position: absolute;
			z-index: -1;
		}
	
		.large-img {
			@extend %b-radiusM;
			width: 100%;
			height: 35rem;
			object-fit: cover;
			object-position: center;
		}
	}
}

.progress__bottom {
	@include layout-grid(max-content max-content max-content, 1rem);
	width: 100%;
	margin-top: clamp(4rem, calc(4rem + ((1vw - 0.32rem) * 2.8409)), 8rem);
	justify-content: space-between;

	&__item {
		@include layout-grid(max-content 1fr, 1rem, center);
	}
}

@include laptop {
	.progress__images__inner {
		height: 11rem;
	}

	.progress .large-img {
		height: 24rem;
	}
}

@include xl {
	.progress__bottom__item img {
		width: 6rem;
	}
}

@include tablet-s {
	.progress__images__inner {
		height: 8.5rem;
	}

	.progress__bottom {
		grid-template-columns: 1fr 1fr 1fr;
		&__item {
			display: flex;
			gap: 2rem;
			flex-direction: column;
			justify-self: center;

			img {
				width: 10rem;
			}
		}

		p {
			text-align: center;
			br {
				display: none;
			}
		}
	}
}

@include s {
	.progress__images__inner {
		height: 15rem;
	}

	.progress .large-img {
		height: 40rem;
	}

	.progress__grid {
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.progress__grid .timeline__wrap {
		display: none;
	}

	.progress .progress__col--first {
		align-items: center;
	}

	.progress .progress__col--second {
		align-items: center;
	}

	.progress .col-1 {
		order: 0;
	}
	.progress .col-2 {
		order: 1;
		margin-bottom: 3rem;
	}
	.progress .col-3 {
		order: 4;
		margin-bottom: 3rem;
	}
	.progress .col-4 {
		order: 3;
	}
	.progress .col-5 {
		order: 5;
	}
	.progress .col-6 {
		order: 6;
	}

	.progress .desc {
		text-align: center;
	}

	.progress__bottom p {
		font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.3571)), 1.6rem);
	}
}

@include mobile-portrait {
	.progress .year {
		font-size: clamp(3.2rem, calc(3.2rem + ((1vw - 0.32rem) * 5.7143)), 4.8rem);
		margin-top: -2rem;
	}

	.progress__images__inner {
		height: 10rem;
	}

	.progress .large-img {
		height: 30rem;
	}
}

@include xxxs {
	.progress__images__inner {
		height: 8rem;
	}

	.progress .large-img {
		height: 25rem;
	}

	.progress__bottom {
		grid-template-columns: 1fr;
		gap: 4rem;

		img {
			width: 7rem;
		}
	}
}

@include xxxxs {
	.progress__images__inner {
		height: 6rem;
	}

	.progress .large-img {
		height: 20rem;
	}
}