.progress__grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	gap: 8rem;

	.progress__col {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		&--first {
			align-items: end;
		}

		&--second {
			align-items: start;
		}
	}

	.year {
		font-size: 4.8rem;
		font-weight: 600;
		line-height: 100%;
		background: linear-gradient(90deg, #E4F0FF 0%, #E2EEFC 35%, #DBE7F5 50%, #D1DBE9 61%, #C1CBD7 70%, #ADB5C0 78%, #949AA4 85%, #767A82 92%, #55575C 98%, #48494D 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin-top: -.7rem;
		width: fit-content;
	}

	.desc {
		color: $clr-baseNormal;
		font-size: 1.8rem;
		font-weight: 400;
	}

	.progress__images {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;

		.progress__images__inner {
			max-height: 22rem;

			img {
				border-radius: 2rem;
				object-fit: cover;
				object-position: center;
				height: 100%;
			}
		}
	}
	
	.timeline__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.timeline {
		background-color: $clr-baseDark;
		width: .2rem;
		height: 87rem;
		position: absolute;
		z-index: -1;
	}

	.large-img {
		border-radius: 2rem;
		width: 100%;
		height: 35rem;
		object-fit: cover;
		object-position: center;
	}
}

