.specialization {
	p {
		font-size: 2rem;
		font-weight: 300;
		color: $clr-baseNormal;
		line-height: 150%;
	}

	&__grid {
		@include layout-grid(1.5fr 1fr, 5rem);
		height: 40rem;
	}

	&__col:first-of-type {
		overflow: auto;
		padding-right: 2rem;
	
		&::-webkit-scrollbar {
			background-color: $clr-baseUltraDark;
			width: .6rem;
			@extend %b-radiusXL;
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: $clr-baseNormal;
			@extend %b-radiusXL;
		}
	}

	&__col:last-of-type {
		b {
			font-size: 2.4rem;
			@extend %text-gradientHorizont;
		}
	
		ul {
			margin-top: 2rem;
			list-style-type: none;
	
			li {
				line-height: 200%;
				font-size: 2rem;
			}
		}
	}
}