.specialization {
	@extend %section-line;

	p {
		font-size: 2rem;
		font-weight: 300;
		color: $clr-baseNormal;
		line-height: 150%;
	}
}

.specialization__grid {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}