.style__grid {
	@include layout-grid(1.5fr 1fr, 5rem);
	@extend %width-100;
	height: 63rem;
}

.style__col:first-of-type {
	@extend %width-100;
	overflow: auto;
	padding-right: 2rem;

	&::-webkit-scrollbar {
		background-color: $clr-baseUltraDark;
		width: .6rem;
		@extend %b-radiusXL;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $clr-baseNormal;
		@extend %b-radiusXL;
	}

	p {
		font-size: 2rem;
		font-weight: 300;
		color: $clr-baseNormal;
		line-height: 150%;
	}
}

.style__photo-wrap {
	@extend %grid-3col;
	gap: 1rem;
	margin-bottom: 4rem;

	img {
		@extend %width-100;
		@extend %b-radiusM;
		height: 20rem;
		object-fit: cover;
	}
}

.style__col:last-of-type {
	b {
		font-size: 2.4rem;
		@extend %text-gradientHorizont;
	}

	ul {
		margin-top: 2rem;
		list-style-type: none;

		li {
			@include layout-flex(row, 1rem);
			padding: 1rem 0;
			border-top: .1rem solid $clr-baseNormal;
			font-size: 2rem;
			font-weight: 400;

			span {
				font-size: 2.4rem;
				font-weight: 900;
				@extend %text-gradientHorizont;
			}
		}
	}
}