.vision__quote {
	font-size: 3.2rem;
	font-weight: 800;
	@extend %text-gradientHorizont;
}

.vision__grid {
	@include layout-grid(1.5fr 1fr, 5rem);
	width: 100%;
	margin-top: 4rem;
	height: 50rem;
}

.vision__col:first-of-type {
	width: 100%;
	overflow: auto;
	padding-right: 2rem;

	p {
		font-size: 2rem;
		font-weight: 300;
		color: $clr-baseNormal;
		line-height: 150%;
	}

		&::-webkit-scrollbar {
		background-color: $clr-baseUltraDark;
		width: .6rem;
		@extend %b-radiusXL;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $clr-baseNormal;
		@extend %b-radiusXL;
	}
}

.vision__col:last-of-type {
	@extend %grid-2col;
	gap: 1rem;
	align-items: stretch;

	img {
		@extend %b-radiusM;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	picture:last-of-type {
		width: 100%;
		grid-column: 1 / 3;

		img {
			max-height: 30rem;
			object-position: top;
		}
	}
}