body {
	background-color: $clr-background;
	color: $clr-light;
	font-size: $fontSize-default;
	font-family: $font-default;
}

.container {
	max-width: 1440px;
	margin: auto;
	padding: clamp(4rem, calc(4rem + ((1vw - 0.32rem) * 2.8409)), 8rem) clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.4205)), 4rem) clamp(8rem, calc(8rem + ((1vw - 0.32rem) * 2.8409)), 12rem);
	@extend %flex-standart;
	align-items: center;
}

h1 {
	font-size: $fontSize-Huge;
	@extend %text-center;
}

h2 {
	@extend %text-center;
	font-size: $fontSize-XXXL;
	font-weight: 700;
	margin-bottom: 4rem;
}

h3 {
	font-size: 1.8rem;
	font-weight: 400;
}

section {
	@extend %section-line;
}

ul {
	list-style-type: none;
}