body {
	background-color: $clr-background;
	color: $clr-light;
	font-size: $fontSize-default;
	font-family: "SF", sans-serif;
}

.container {
	max-width: 1728px;
	margin: auto;
	padding: 0 4rem;
}

h1 {
	font-size: 9.6rem;
}