body {
	background-color: $clr-background;
	color: $clr-light;
	font-size: $fontSize-default;
	font-family: $font-default;
}

.container {
	max-width: 1728px;
	margin: auto;
	padding: 0 clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 2.8409)), 6rem);
}

h1 {
	font-size: $fontSize-Huge;
	text-align: center;
}