// Fonts ***
$font-default: SF;
$fontSize-default: 1.6rem;
$fontSize-button: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.142)), 1.8rem);
$fontSize-btnLarge: clamp(1.8rem, calc(1.8rem + ((1vw - 0.32rem) * 0.4261)), 2.4rem);
$fontSize-Huge: clamp(3.6rem, calc(3.6rem + ((1vw - 0.32rem) * 4.2614)), 9.6rem);
$fontSize-XXXL: clamp(2.4rem, calc(2.4rem + ((1vw - 0.32rem) * 1.7045)), 4.8rem);
$fontSize-XL: clamp(1.8rem, calc(1.8rem + ((1vw - 0.32rem) * 0.9943)), 3.2rem);
$fontSize-XS: 1.8rem;


$fontSize-titleBanner: 4rem;
$fontSize-XXL: clamp(1.8rem, calc(1.8rem + ((1vw - 0.32rem) * 1.2784)), 3.6rem);

$fontSize-L: 2.8rem;
$fontSize-M: 2.4rem;
$fontSize-S: 2rem;
$fontSize-XXS: 1.6rem;
$fontSize-XXXS: 1.4rem;
$fontSize-Tiny: 1.2rem;

// Colors ***
$clr-primary: #6015FF;
$clr-secondary: #7542e4;
$clr-background: #0D0D0D;
$clr-dark: black;
$clr-light: white;
$clr-baseUltraDark: #171717;
$clr-baseDark: #252525;
$clr-baseNormal: #a2a1a1;
$clr-metallHorizont: linear-gradient(90deg, #E4F0FF 0%, #E2EEFC 35%, #DBE7F5 50%, #D1DBE9 61%, #C1CBD7 70%, #ADB5C0 78%, #949AA4 85%, #767A82 92%, #55575C 98%, #48494D 100%);
$clr-metallVertical: linear-gradient(180deg, #E4F0FF 0%, #E2EEFC 35%, #DBE7F5 50%, #D1DBE9 61%, #C1CBD7 70%, #ADB5C0 78%, #949AA4 85%, #767A82 92%, #55575C 98%, #48494D 100%);
$clr-backgroundTransparent: rgba(0,0,0,.3);

// Breakpoints ***
$breakpoint-huge: 1440px;
$breakpoint-xxl: 1280px;
$breakpoint-xl: 1150px;
$breakpoint-l: 1024px;
$breakpoint-m: 767px;
$breakpoint-s: 600px;

// Border Radius ***
$br-l: 10rem;
$br-s: 2rem;