// Fonts ***
$font-default: SF;
$fontSize-default: 1.6rem;
$fontSize-button: 1.8rem;
$fontSize-Huge: clamp(4.8rem, calc(4.8rem + ((1vw - 0.32rem) * 3.4091)), 9.6rem);
$fontSize-XXXL: clamp(2.4rem, calc(2.4rem + ((1vw - 0.32rem) * 1.7045)), 4.8rem);
$fontSize-XL: clamp(1.8rem, calc(1.8rem + ((1vw - 0.32rem) * 0.9943)), 3.2rem);
$fontSize-XS: 1.8rem;




$fontSize-titleBanner: 4rem;
$fontSize-XXL: clamp(1.8rem, calc(1.8rem + ((1vw - 0.32rem) * 1.2784)), 3.6rem);

$fontSize-L: 2.8rem;
$fontSize-M: 2.4rem;
$fontSize-S: 2rem;
$fontSize-XXS: 1.6rem;
$fontSize-XXXS: 1.4rem;
$fontSize-Tiny: 1.2rem;

// Colors ***
$clr-primary: #6015FF;
$clr-secondary: #7542e4;
$clr-background: #0D0D0D;
$clr-dark: black;
$clr-light: white;
$clr-baseDark: #171717;
$clr-baseNormal: #a2a1a1;

// Breakpoints ***
$breakpoint-huge: 1440px;
$breakpoint-xxl: 1280px;
$breakpoint-xl: 1150px;
$breakpoint-l: 1024px;
$breakpoint-m: 767px;
$breakpoint-s: 600px;

// Border Radius ***
$br-l: 5rem;
$br-s: 1.5rem;

$br-xl: 10rem;

$br-m: 2rem;
$br-xs: .5rem;